extends layout

block content
  h1 Browse Artworks

  if artworks.length > 0
    each artwork in artworks
      div
        h2= artwork.Title
        p Artist: #{artwork.Artist}
        p Year: #{artwork.Year}
        p Category: #{artwork.Category}
        p Medium: #{artwork.Medium}
        p Description: #{artwork.Description}
        if artwork.Poster
          img(src=artwork.Poster, alt=`Poster of ${artwork.Title}`)
  else
    p No artworks found.




